<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Loser Nuto</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>

<div th:insert="fragments/menu :: menu('comics')">
</div>
	<br>
<center><h1 th:text = "${titulo}" /><br>
<table CELLPADDING="10"	BORDER="1"	ALIGN="CENTER">
		<thead>
			<tr>
				<th>Capítulo</th>
				<th>Imagen/Descripción</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="comics: ${comics}">
				<td ><a th:href="${comics.link}"><span  th:text = "'Capitulo ' + ${comics.numero}"></span></a></td>
				<td><a th:href = "${comics.link}"><img th:src="@{/images/losernuto/}+${comics.imagen}" width="300" height="150"></a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>